html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

p {
    margin: 0.5em 0 0 0;
    padding: 0;
}


a:hover, a:active {
    color: #76cbe0;
}

body > header {
    padding: 1em;
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
}

body > header > h1 {
    margin: 0;
}

.required:after {
    content: "*";
}

body > section {
    margin: 0.5em 20%;
    padding: 1em;
    overflow: hidden;
    background-color: #A5D6A7;
    color: black;
}

a {
    color: darkgreen;
}

a:hover {
    color: mintcream;
}

body > footer {
    padding: 0.5em;
    clear: both;
    background-color: black;
    color: #e5e5e5;
    font-size: 0.8em;
    text-align: center;
}

body > footer > p {
    margin: 0;
}

.book-summary {
    margin: 0.5em 0;
    padding: 0.5em 0;
    clear: both;
}

.book-summary > img {
    float: left;
    padding-right: 1em;
}

.book-details > img {
    float: left;
    padding-right: 1em;
}
.profile-image
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    display: block;
}

.cover-overview {
    width: 100px;
    height: 100px;
}

.test1 {
    background: red;
}

/* Noch spezifischere Variante */
body .ui-button {
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

body .ui-button:hover {
    background-color: white;
    color: black;
}


body .ui-overlaypanel .ui-overlaypanel-content {
  padding: 0rem !important;
}
.ui-overlaypanel-content {
  padding: 0em !important;
}

#menu {
    top: 70px !important;
}

body .ui-menu .ui-menu-list .ui-menuitem {
    background-color: black !important;
    color: white !important;
    border-bottom: 1px solid black !important;
    font-size: large;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
  color: white !important;
}

.ui-menu {
  padding: 0em !important;
}

.user-name-image {
   display: inline-flex;
}

.user-name {
    margin-right: 1em;
}

.soft {
    color: gray;
}

th {
    background-color: black !important;
    color: white !important;
}

.bookList-search tr:hover {
    background-color: black !important;
    color: white !important;
}

.bookList-search tr:hover a {
    color: white !important;
}

.cover-image {
    width: 400px;
}